.diet-day-list {
  display: block;
  overflow: hidden;
  min-height: 60px;
  border: solid 1px #ccc;
  border-radius: 4px;
  background: #fff;
}

.diet-day-box {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
}

.diet-day-box .mat-expansion-panel-header{
  padding: 5px 24px;
  font-weight: 500;
}

.diet-handle {
  position: absolute;
  left:0;
  margin-top: -3px;
  display: none;
  width: 24px;
  height: 24px;
  color: #ccc;
  cursor: move;
}

.diet-day-box .mat-expansion-panel-header:hover .diet-handle{
  display: block;
}

.diet-day-box .mat-accordion .mat-expansion-panel{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.diet-day-box:last-child {
  border: none;
}

.diet-day-list.cdk-drop-list-dragging .diet-day-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.product-table{
  width: 100%;
  background: #FFFFFF;
  border-collapse: collapse;
}

.product-table td,
.product-table th{
  padding: 0;
  height: 10px;
  border: none;
}

.product-table th{
  font-size: 12px;
  font-weight: 500;
}

.product-table__caption,
.product-table__th-caption{
  width: 20%;
}

.product-table__num,
.product-table__th-num{
  width: 15%;
  text-align: center;
}

.product-table__button,
.product-table__th-button{
  width: 5%;
}

.day-name{
  font-size: 18px;
  font-weight: 500;
}