<div cdkDropList class="diet-day-list" (cdkDropListDropped)="drop($event)">
    <div class="diet-day-box" *ngFor="let day of diet" cdkDrag>
        <mat-accordion>
            <mat-expansion-panel
                class="diet-day-box__expansion-panel"
                [expanded]="day.id == 1 ? true : false"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title class="day-name">{{day.name}}</mat-panel-title>
                </mat-expansion-panel-header>

                <app-deit-caption-table></app-deit-caption-table>
                
                <app-eatings
                    [eatings]="day.eatings"
                    [days]="diet"
                    [dayID]="day.id"
                    [daysLength]="diet.length"
                    
                    [connectDays]="connectDays"
                    [connectEatings]="connectEatings"
                ></app-eatings>
                
                <button class="diet__add-eating"
                        mat-raised-button
                        color="primary"
                        (click)="addEating(day.id, day.eatings.length)"
                >
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">add</mat-icon>
                    <span class="diet-controls-text">Добавить приём пищи</span>
                </button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
