<div
    cdkDropList
    class="diet-eating-list"
    id="day_{{dayID}}"
    [attr.data-days]="days.length"
    [cdkDropListConnectedTo]="connectDays"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="eatings"
>
    <div
        *ngFor="let eating of eatings; let eatingID = index"
        class="diet-eating-box"
        cdkDrag
    >
        <div class="eating-name eating-name-{{eatingID}}">
            <div class="drag-handle drag-eatings-handle" cdkDragHandle>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">drag_indicator</mat-icon>
            </div>

            {{eating.name}}
        </div>
        <app-products
            [products]="eating.product"
            [eatingsLength]="eatings.length"
            [eatingID]="eating.id"
            [eatingCurrentID]="eatingID"
            [days]="days"
            [dayID]="dayID"
            [daysLength]="daysLength"
            [dayCurrentID]="dayCurrentID"
            [connectEatings]="connectEatings"
        ></app-products>
    </div>
</div>