<mat-sidenav-container class="content">
    <mat-sidenav
        [mode]="mobileQuery1024.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery1024.matches"
        [opened]="!mobileQuery1024.matches"
        [fixedTopGap]="56"
        position="end"
        (openedChange)="openedChangeFoodPanel()"
        #foodPanel>
        <p>Sidenav content</p>
        <app-food-panel-accordion></app-food-panel-accordion>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <h1>Hello world!</h1>
    </mat-sidenav-content>
</mat-sidenav-container>