<mat-sidenav-container class="content">
    <mat-sidenav
        [mode]="mobileQuery1024.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery1024.matches"
        [opened]="!mobileQuery1024.matches"
        [fixedTopGap]="56"
        position="end"
        (openedChange)="openedChangeFoodPanel()"
        #foodPanel
        class="food-sidenav"
    >
        <app-food-panel-accordion></app-food-panel-accordion>
        <app-sidenav-tool-panel></app-sidenav-tool-panel>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <h2>{{title}}</h2>
        <app-dd-test></app-dd-test>
    </mat-sidenav-content>
</mat-sidenav-container>