<div class="product-table__field product-table__field-{{displayedColumns[displayedColumnIndex]}}">
    <span
            [ngClass]="{
                'product-table__field-name': true,
                'vm__hide': currentElement === displayedColumns[displayedColumnIndex] + '_' + currentIndex
            }"
            (click)="edit(currentIndex, displayedColumns[displayedColumnIndex])"
    >
        {{elementCurrentProp}}
    </span>
    <input
            *ngIf="currentElement === displayedColumns[displayedColumnIndex] + '_' + currentIndex"
            [ngClass]="{
                'product-table__field-input': true
            }"
            [appAutoFocus]
            (blur)="checkIsEmpty($event)"
            (keyup.enter)="checkIsEmpty($event)"
            placeholder="{{ elementCurrentProp }}"
    >
</div>