.head__toogle-food-panel .mat-icon{
  padding-right: 8px;
}

.head__toogle-food-panel-text{
  font-size: 16px;
  font-weight: normal;
}

// Media queries
@media (max-width: 1024px){
  .head__toogle-food-panel-text{
    display: none;
  }
  .head__toogle-food-panel .mat-icon{
    padding-right: 0;
  }
}