<div
    cdkDropList
    class="example-list"
    id="eating_{{dayID}}"
    [cdkDropListConnectedTo]="connectedTo"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="eatings"
>
    <div
        *ngFor="let eating of eatings; let eatingID = index"
        class="example-box"
        cdkDrag
    >
        <p>{{eating.name}}</p>
        <app-dd-test-inner2
            [products]="eating.product"
            [eatingID]="eating.id"
            [days]="days"
            [dayID]="dayID"
            [eatingsLength]="eatings.length"
            [daysLength]="daysLength"
        ></app-dd-test-inner2>
    </div>
</div>