<div
    cdkDropList
    class="diet-eating-list"
    id="day_{{dayID}}"
    [cdkDropListConnectedTo]="connectedToDays"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="eatings"
>
    <div
        *ngFor="let eating of eatings; let eatingID = index"
        class="diet-eating-box"
        cdkDrag
    >
        <div class="eating-name eating-name-{{eatingID}}">{{eating.name}}</div>
        <app-products
            [products]="eating.product"
            [eatingID]="eating.id"
            [days]="days"
            [dayID]="dayID"
            [eatingsLength]="eatings.length"
            [daysLength]="daysLength"
            
            [connectEatings]="connectEatings"
        ></app-products>
    </div>
</div>