table.food-table.mat-table{
  width: 100%;
}

/* All cells */
.food-table td.mat-cell:first-of-type,
.food-table td.mat-footer-cell:first-of-type,
.food-table th.mat-header-cell:first-of-type,
.food-table td.mat-cell:last-of-type,
.food-table td.mat-footer-cell:last-of-type,
.food-table th.mat-header-cell:last-of-type,
.food-table td.mat-cell,
.food-table td.mat-footer-cell,
.food-table th.mat-header-cell{
  padding: 10px 0;
  text-align: center;
}

/* First cell */
.food-table td.mat-cell:first-of-type,
.food-table td.mat-footer-cell:first-of-type,
.food-table th.mat-header-cell:first-of-type{
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  font-weight: 500;
  text-align: left;
}

/* All cell spans */
.food-table__field-name{
  cursor: pointer;
}

/* Other cell spans */
td:not(:first-child) .food-table__field-name{
  display: inline-block;
  width: 40px;
}

/* Add, remove cells */
.food-table td.mat-cell.mat-column-add,
.food-table td.mat-cell.mat-column-remove{
  width: 20px;
}

/* Add, remove buttons */
//.table-product-button{
//  padding-left: 10px;
//  padding-right: 10px;
//  min-width: 55px;
//}

/* All inputs */
.food-table__field-input:focus{
  box-shadow: 0 5px 5px rgba(25, 118, 210, 0.1);
  border-bottom: 1px solid #1976d2;
}

/* First input */
.food-table__field-input{
  width: 80px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

/* Other inputs */
td:not(:first-child) .food-table__field-input{
  width: 40px;
  font-weight: normal;
  text-align: center;
}

.day-name{
  padding: 10px 16px;
  font-size: 14px;
  display: block;
  font-weight: 500;
  background-color: #f1f1f1;
}


/* Media queries */
@media(max-width: 560px){
  .mat-cell,
  .mat-footer-cell{
    font-size: 11px;
  }

  /* All cells */
  .food-table td.mat-cell:first-of-type,
  .food-table td.mat-footer-cell:first-of-type,
  .food-table th.mat-header-cell:first-of-type,
  .food-table td.mat-cell:last-of-type,
  .food-table td.mat-footer-cell:last-of-type,
  .food-table th.mat-header-cell:last-of-type,
  .food-table td.mat-cell,
  .food-table td.mat-footer-cell,
  .food-table th.mat-header-cell{
    padding: 5px 0;
  }

  /* First cell */
  .food-table td.mat-cell:first-of-type,
  .food-table td.mat-footer-cell:first-of-type,
  .food-table th.mat-header-cell:first-of-type{
    padding-left: 5px;
    padding-right: 10px;
    width: 80px;
  }

  /* First input */
  .food-table__field-input{
    width: 75px;
  }

  /* Add, remove buttons */
  //.table-product-button{
  //  padding-left: 7px;
  //  padding-right: 7px;
  //  min-width: 30px;
  //}

  .food-table td .material-icons{
    font-size: 21px;
  }

  .food-table td .mat-icon{
    width: 21px;
    height: 21px;
  }
}