.diet-container{
  padding: 0 30px;
}

.content {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.food-sidenav {
  width: 555px;
}


/* Media queries */
@media(max-width: 560px){
  .food-sidenav{
    width: 100%;
  }
}