<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let day of days" cdkDrag>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{day.name}}</mat-panel-title>
                </mat-expansion-panel-header>
                
                <app-accordion-eatings
                    [eatings]="day.eatings"
                    [days]="days"
                    [dayID]="day.id"
                    [daysLength]="days.length"
                ></app-accordion-eatings>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
