.product-table{
  width: 100%;
  background: #FFFFFF;
  border-collapse: collapse;
  &__header{
    padding: 10px 20px;
  }
  @media(max-width: 480px){
    margin: 0 5px;
    width: auto;
  }
}

.product-table td,
.product-table th{
  padding: 0;
  height: 10px;
  border: none;
}

.product-table th{
  font-size: 12px;
  font-weight: 500;
}

.product-table__caption,
.product-table__th-caption{
  width: 20%;
}

.product-table__num,
.product-table__th-num{
  width: 15%;
  text-align: center;
}

.product-table__button,
.product-table__th-button{
  width: 5%;
  min-width: 55px;
  @media(max-width: 560px){
    min-width: 38px;
  }
}

.day-name{
  font-size: 18px;
  font-weight: 500;
}