<table class="product-table">
  <tr class="product-table__header">
    <th class="mat-header-cell product-table__th-caption product-table__th-name"></th>
    <th class="mat-header-cell product-table__th-num product-table__th-weight">
      В<span class="vm__mobile-hide">ес</span>
    </th>
    <th class="mat-header-cell product-table__th-num product-table__th-protein">
      Б<span class="vm__mobile-hide">елки</span>
    </th>
    <th class="mat-header-cell product-table__th-num product-table__th-carbs">
      У<span class="vm__mobile-hide">глеводы</span>
    </th>
    <th class="mat-header-cell product-table__th-num product-table__th-fat">
      Ж<span class="vm__mobile-hide">иры</span>
    </th>
    <th class="mat-header-cell product-table__th-num product-table__th-calories">
      К<span class="vm__mobile-hide">алории</span>
    </th>
    <th class="mat-header-cell product-table__th-button product-table__th-delete"></th>
  </tr>
</table>