<table
        cdkDropList
        class="diet-product-list product-table"
        id="eating_{{eatingID}}"
        [cdkDropListConnectedTo]="connectEatings"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="products"
>
    <tr class="tr-th">
        <th class="th mat-header-cell product-table__th-caption product-table__th-name"></th>
        <th class="th mat-header-cell product-table__th-num product-table__th-weight"></th>
        <th class="th mat-header-cell product-table__th-num product-table__th-protein"></th>
        <th class="th mat-header-cell product-table__th-num product-table__th-carbs"></th>
        <th class="th mat-header-cell product-table__th-num product-table__th-fat"></th>
        <th class="th mat-header-cell product-table__th-num product-table__th-calories"></th>
        <th class="th mat-header-cell product-table__th-button product-table__th-delete"></th>
    </tr>
    <tr
            *ngFor="let product of products"
            class="diet-product-box"
            cdkDrag
    >
        <td class="product-table__caption product-table__name">{{product.itemName}}</td>
        <td class="product-table__num product-table__weight">100гр</td>
        <td class="product-table__num product-table__protein">{{product.nutrients.protein}}</td>
        <td class="product-table__num product-table__carbs">{{product.nutrients.carbs}}</td>
        <td class="product-table__num product-table__fat">{{product.nutrients.fat}}</td>
        <td class="product-table__num product-table__calories">{{product.nutrients.calories}}</td>
        <td class="product-table__button product-table__delete">Удалить</td>
    </tr>
</table>

<!--<table
        #table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"

        cdkDropList
        class="example-list"
        id="eating_{{eatingID}}"
        [cdkDropListConnectedTo]="connectedToEatings"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="products"
>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
    </ng-container>

    <tr
            mat-header-row
            *matHeaderRowDef="['Name']"
    ></tr>
    <tr
            mat-row
            *matRowDef="let row; columns: ['Name'];"
            cdkDrag [cdkDragData]="row"
    ></tr>
</table>-->

<!--<div
    cdkDropList
    class="example-list"
    id="eating_{{eatingID}}"
    [cdkDropListConnectedTo]="connectedToEatings"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="products"
>
    <div
        *ngFor="let product of products"
        class="example-box"
        cdkDrag
    >
        <p>{{product.itemName}}</p>
    </div>
</div>-->
